<h1>Add a New Figure</h1>

<form action="/figures" method="POST">
  Figure: <input type="text" name="figure_name"><br>
  Title: <input type="text" name="title_name"><br>
  Landmark: <input type="text" name="landmark_name"><br>
 <input type="submit" value="Create">
 </form>